@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
list-style: none;
text-decoration: none;
font-family: 'Josefin Sans', sans-serif;
}

p {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}
h1.title {
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}
.btn a{
	display: block;
	width: 180px;
	height: 35px;
	border: 2px solid #fb2274;
	line-height: 35px;
	margin: 25px auto 0;
	color: #fb2274;
	text-align: center;
}
.main-container { 
    position: relative;
}
/*Navigation*/
.navbar{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}

.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: #fb2274;
}

.navbar .navbar_items ul{
	display: flex;
}


.navbar .navbar_items ul li{
	text-transform: uppercase;
	margin: 0 10px;
}

.navbar .navbar_items ul li a{
	color: #fff;
}

/* Banner Image */
.banner_image{
	background: url("https://i.imgur.com/AS8APz9.jpg") no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content{
	text-align: center;
	color: #fff;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 15px;
}

.banner_content h1 span{
	color: #fb2274;
}

/*About us*/

.about,
.services,
.contactus,
.ourteam{
	padding: 5% 10%;
	text-align: center;
}
/*Services*/
.services {
    background: #f5f5f5;
}
.diff_services {
    display: flex;
    margin-top: 35px ;
    justify-content: space-between;
}
.diff_service_item {
    width: 30%;
}
.diff_service_item img {
    width: 100%;
    margin-bottom: 25px;
}
.diff_service_item h3 {
    color: #fb2274;
    margin-bottom: 15px;
}
/*Contact us */

.form_input {
    margin-bottom: 15px;
}
.form_input input[type="text"] {
    width: 250px;
    padding: 12px 20px;
    border: 1px solid #ccc;
}
.form_input textarea{
	width: 250px;
	padding: 12px 20px;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}
/*Our team*/

.ourteam{
	background: #f5f5f5;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_member{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
}

.ourteam_wrapper .team_member img{
	width: 100%;
	display: block;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_member:hover img{
	transform: scale(1.1);
}

/* footer */
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}
/* arrow */
.arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #fb2274;
	border-radius: 50%;
}
.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
}